h2 {
  text-align: center;
}

form {
  transform: translate(0, 13%);
}

input[type=url] {
  width: 100%;
  transform: translate(0, -30%);
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: grey;
}

.player1 {
  display: block;
  margin: auto;
}

.player2 {
  display: block;
  margin: auto;
}

.container {
  text-align: center;
  background-image: linear-gradient(#212121, #303030);
  margin: auto;
  width: 60%;
  box-shadow: 0 4px 8px 0 dimgrey, 0 6px 20px 0 black;
}

.wrapper {
  display: inline-block;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.inner {
  float: left;
  width: 33%;
}

/* Style play button */
.play {
  background-color: #00bfff; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 50%;
  color: white; /* White text */
  margin: 10px;
  padding: 4px 4px 1px 4px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.play:hover {
  color: black;
  background-color: red;
}

/* Style play2 button */
.play2 {
  background-color: red; /* Red background */
  border: none; /* Remove borders */
  border-radius: 50%;
  color: black; /* Black text */
  margin: 10px;
  padding: 4px 4px 1px 4px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.play2:hover {
  color: white;
  background-color: #00bfff;
}

.img2 {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.img2:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body {
  font-family: Helvetica;
  color: white;
  background: #000000;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00bfff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #000000;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
