#player1 {
  display: block;
  margin: auto;
  border: 5px solid #00bfff;
  opacity: .7;
}

#player2 {
  display: block;
  margin: auto;
  border: 5px solid red;
  opacity: .7;
}

.game-logo {
  display: block;
  margin: auto;
}

/*
.box {
  margin: auto;
  width: 366px;
  height: 210px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

.box span {
  position: absolute;
  margin: auto;
  width: 0;
  height: 0;
  display: block;
}

.box span:nth-child(1) {
  transform: rotate(0deg);
}

.box span:nth-child(2) {
  transform: rotate(90deg);
  padding-left: 732px;
}

.box span:nth-child(3) {
  transform: rotate(180deg);
  transform: translate(366px, 205px);
}

.box span:nth-child(4) {
  transform: rotate(270deg);
}

.box span:before {
  content: '';
  position: absolute;
  margin: auto;
  width: 366px;
  height: 5px;
  background: #00bfff;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% 
  {
    transform:scaleX(0);
    transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
    transform-origin: right;
  }
  100%
  {
    transform:scaleX(0);
    transform-origin: right;
  }
}*/

.centerLogo {
  transform: translate(0, -40%);
  visibility: hidden;
}

/* Volume Slider */
.volumeContainer {
  padding-top: 1%;
  width: 100%;
  margin: auto;
  transform: translate(0, -85%);
}

.volume {
  margin: auto;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;   
  background: #00bfff;
  outline: none;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.volume::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.volume2 {
  margin: auto;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;   
  background: red;
  outline: none;
}

.volume2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

.volume2::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/* Dropdown Menu */
.list {
  width: 360px;
  height: 20px;
  margin: auto;
  display: block;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.dualList {
  width: 100%;
  height: 20px;
  margin: auto;
  display: block;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
  transform: translate(0, -200%);
}

.dropdown {
  margin: 0 0 20px 0;
  text-align: center;
}

h3 {
  text-align: center;
  transform: translate(0, -180%);
  text-decoration: underline;
}

form {
  transform: translate(0, 13%);
}

.dualLink {
  width: 100%;
  transform: translate(0, -170%);
  padding: 5px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: grey;
}

.singleLink {
  width: 360px;
  transform: translate(0, -30%);
  padding: 5px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: grey;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

#container {
  text-align: center;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  width: 100vw;
}

.wrapper {
  display: inline-block;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.inner {
  float: left;
  width: 33vw;
  opacity: .7;
}

.center {
  float: left;
  width: 200px;
  height: 300px;
  text-align: center;
  margin: auto;
  opacity: .7;
}

/* Style play button */
.play {
  background-color: #00bfff; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 50%;
  color: white; /* White text */
  margin: auto auto 10px auto;
  padding: 4px 4px 1px 4px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  transform: translate(0, -20%);
}

.play:hover {
  color: black;
  background-color: red;
}

/* Style play2 button */
.play2 {
  background-color: red; /* Red background */
  border: none; /* Remove borders */
  border-radius: 50%;
  color: black; /* Black text */
  margin: auto auto 10px auto;
  padding: 4px 4px 1px 4px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  transform: translate(0, -20%);
}

.play2:hover {
  color: white;
  background-color: #00bfff;
}

.img2 {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.img2:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body {
  font-family: Helvetica;
  color: white;
  background: #000000;
  margin: 0;
  padding: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: translate(0, -30%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00bfff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #000000;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
